<div class="ad-infinite-list-container">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            <span ng-if="!%=dropdownName%.localConfig.dynamicLabel || !%=dropdownName%.selectedItems.length">{{ %=dropdownName%.localConfig.initialLabel }}</span>
            <span ng-if="%=dropdownName%.localConfig.dynamicLabel && %=dropdownName%.selectedItems.length">
                {{ %=dropdownName%.readProperty(%=dropdownName%.selectedItems[%=dropdownName%.selectedItems.length - 1], '%=labelDisplayProperty%') }}
            </span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" ng-style="%=dropdownName%.localConfig.dimensions" role="menu" aria-labelledby="dropdownMenu1">
            <li class="text-overflow" data-ng-repeat="item in %=dropdownName%.items.list"
                ng-class="{'active': %=dropdownName%.isSelected(item, %=dropdownName%.selectedItems)}"
                ng-click="%=dropdownName%.addRemoveItem($event, item, %=dropdownName%.selectedItems)">
                <a role="menuitem" tabindex="-1" href="">
                    <span ng-if="%=dropdownName%.localConfig.showDisplayProperty">
                        {{ %=dropdownName%.readProperty(item, '%=displayProperty%') }}
                    </span>
                    <span ng-if="%=dropdownName%.localConfig.showTemplate"
                          ad-compile-template="%=template%"></span>
                    <span ng-if="%=dropdownName%.localConfig.loadTemplate"
                          ng-include="'%=templateUrl%'"></span>
                </a>
            </li>
            <li ng-if="%=dropdownName%.localConfig.loadingData" class="text-overflow text-center" style="display: block">
                <a role="menuitem" tabindex="-1" href="">
                    <ad-loading-icon></ad-loading-icon>
                </a>
            </li>
        </ul>
    </div>
</div>
