<div class="ad-table-lite-container" ng-if="items.allItems.length || !attrs.itemsNotFoundMessage">
  <table class="ad-sticky-table {{ attrs.tableClasses || 'table' }}"
         ng-if="attrs.tableMaxHeight"
         ng-class="{'ad-fixed-layout': attrs.tableMaxHeight}">
    <thead>
      <tr class="ad-user-select-none" ng-include="'tablelite/headerRowContent.html'"></tr>
    </thead>
  </table>
  <div class="ad-table-container" ng-style="{'max-height': attrs.tableMaxHeight}">
    <table class="{{ attrs.tableClasses || 'table' }}"
           ng-class="{'ad-fixed-layout': attrs.tableMaxHeight}">
      <thead>
        <tr class="ad-user-select-none" ng-if="!attrs.tableMaxHeight" ng-include="'tablelite/headerRowContent.html'"></tr>
      </thead>
      <tbody ng-if="!attrs.draggable" ng-include="'tablelite/defaultRow.html'"></tbody>
      <tbody ng-if="attrs.draggable" ng-include="'tablelite/draggableRow.html'"></tbody>
    </table>
  </div>
  <ng-include src="'tablelite/pagination.html'"></ng-include>
</div>
<div ng-if="!localConfig.localData.length && attrs.itemsNotFoundMessage">
  <div class="alert alert-info" role="alert">{{ attrs.itemsNotFoundMessage }}</div>
</div>
