<div class="ad-table-lite-container">
  <table class="%=tableClasses% ad-sticky-table" ng-if="%=tableName%.localConfig.tableMaxHeight">
    <tr class="ad-user-select-none">
      <th ng-if="%=tableName%.localConfig.draggable" class="ad-select-cell">
        <i></i>
      </th>
      <th ng-if="%=tableName%.localConfig.selectable && %=tableName%.items.allItems"
          class="ad-select-cell">
        <input type="checkbox"
               class="ad-cursor-pointer"
               ng-click="%=tableName%.addRemoveAll(%=tableName%.items.allItems, %=tableName%.selectedItems)"
               ng-checked="%=tableName%.allSelected(%=tableName%.items.allItems, %=tableName%.selectedItems)">
      </th>
      <th data-ng-repeat="definition in %=columnDefinition%"
          ng-click="%=tableName%.sortByColumn(definition)"
          ng-class="{'ad-cursor-pointer': definition.sortKey}"
          ng-style="{'width': definition.width}">
        <div class="pull-right"
             ng-if="definition.sortKey && %=tableName%.localConfig.predicate == definition.sortKey">
          <i class="%=icon-sortAscending%" ng-hide="%=tableName%.localConfig.reverse"></i>
          <i class="%=icon-sortDescending%" ng-show="%=tableName%.localConfig.reverse"></i>
        </div>
        <div class="pull-right"
             ng-if="definition.sortKey && %=tableName%.localConfig.predicate != definition.sortKey">
          <i class="%=icon-sortable%"></i>
        </div>
        <div ng-if="definition.columnHeaderTemplate"
             ng-bind-html="definition.columnHeaderTemplate"></div>
        <div ng-if="definition.columnHeaderDisplayName"
             ng-bind="definition.columnHeaderDisplayName"></div>
      </th>
    </tr>
  </table>
  <div class="ad-table-container" ng-style="{'max-height': %=tableName%.localConfig.tableMaxHeight}">
    <table class="%=tableClasses%">
      <tr class="ad-user-select-none" ng-if="!%=tableName%.localConfig.tableMaxHeight">
        <th ng-if="%=tableName%.localConfig.draggable" class="ad-select-cell">
          <i></i>
        </th>
        <th ng-if="%=tableName%.localConfig.selectable && %=tableName%.items.allItems"
            class="ad-select-cell">
          <input type="checkbox"
                 class="ad-cursor-pointer"
                 ng-click="%=tableName%.addRemoveAll(%=tableName%.items.allItems, %=tableName%.selectedItems)"
                 ng-checked="%=tableName%.allSelected(%=tableName%.items.allItems, %=tableName%.selectedItems)">
        </th>
        <th data-ng-repeat="definition in %=columnDefinition%"
            ng-click="%=tableName%.sortByColumn(definition)"
            ng-class="{'ad-cursor-pointer': definition.sortKey}"
            ng-style="{'width': definition.width}">
          <div class="pull-right"
               ng-if="definition.sortKey && %=tableName%.localConfig.predicate == definition.sortKey">
            <i class="%=icon-sortAscending%" ng-hide="%=tableName%.localConfig.reverse"></i>
            <i class="%=icon-sortDescending%" ng-show="%=tableName%.localConfig.reverse"></i>
          </div>
          <div class="pull-right"
               ng-if="definition.sortKey && %=tableName%.localConfig.predicate != definition.sortKey">
            <i class="%=icon-sortable%"></i>
          </div>
          <div ng-if="definition.columnHeaderTemplate"
               ng-bind-html="definition.columnHeaderTemplate"></div>
          <div ng-if="definition.columnHeaderDisplayName"
               ng-bind="definition.columnHeaderDisplayName"></div>
        </th>
      </tr>
      <tr ng-if="!%=tableName%.localConfig.draggable" data-ng-repeat="item in %=tableName%.items.list"
          ng-class="{'ad-selected': %=tableName%.localConfig.selectable && %=tableName%.isSelected(item, %=tableName%.selectedItems)}">
        <td ng-if="%=tableName%.localConfig.selectable"
            class="ad-select-cell">
          <input type="checkbox"
                 class="ad-cursor-pointer"
                 ng-checked="%=tableName%.isSelected(item, %=tableName%.selectedItems)"
                 ng-click="%=tableName%.addRemoveItem(item, %=tableName%.selectedItems)">
        </td>
        <td data-ng-repeat="definition in %=columnDefinition%"
            ng-style="{'width': definition.width}">
          <div ng-if="definition.templateUrl">
            <ng-include src="definition.templateUrl"></ng-include>
          </div>
          <div ng-if="!definition.templateUrl">
            {{ %=tableName%.applyFilter(item[definition.displayProperty], definition.cellFilter) }}
          </div>
        </td>
      </tr>
      <tr ng-if="%=tableName%.localConfig.draggable" ad-drag="true" ad-drag-handle="true" ad-drop="true"
          ad-drag-data=""
          ad-drop-over="%=tableName%.onDragOver($data, $dragElement, $dropElement, $event)"
          ad-drop-end="%=tableName%.onDropEnd($data, $dragElement, $dropElement, $event)"
          ad-drag-begin="%=tableName%.onDragStart($data, $dragElement, $event)"
          ad-drag-end="%=tableName%.onDragEnd($data, $dragElement, $event)"
          data-ng-repeat="item in %=tableName%.items.list"
          ng-class="{'ad-selected': %=tableName%.localConfig.selectable && %=tableName%.isSelected(item, %=tableName%.selectedItems)}">
        <td ng-if="%=tableName%.localConfig.draggable" class="ad-select-cell ad-drag-handle">
          <i class="%=icon-draggable%"></i>
        </td>
        <td ng-if="%=tableName%.localConfig.selectable" class="ad-select-cell">
          <input type="checkbox"
                 class="ad-cursor-pointer"
                 ng-checked="%=tableName%.isSelected(item, %=tableName%.selectedItems)"
                 ng-click="%=tableName%.addRemoveItem(item, %=tableName%.selectedItems)">
        </td>
        <td data-ng-repeat="definition in %=columnDefinition%"
            ng-style="{'width': definition.width}">
          <div ng-if="definition.templateUrl">
            <ng-include src="definition.templateUrl"></ng-include>
          </div>
          <div ng-if="definition.template">
            <span ad-compile-template="definition.template"></span>
          </div>
          <div ng-if="!definition.templateUrl && !definition.template">
            {{ %=tableName%.applyFilter(%=tableName%.readProperty(item, definition.displayProperty),
            definition.cellFilter) }}
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="row"
       ng-if="%=tableName%.items.allItems.length > %=tableName%.items.paging.pageSizes[0] && %=tableName%.localConfig.showPaging">
    <div class="col-md-8 col-sm-8">
      <div class="%=paginationBtnGroupClasses% pull-left">
        <button type="button"
                class="btn btn-default"
                ng-click="%=tableName%.loadPage(1)"
                ng-disabled="%=tableName%.items.paging.currentPage == 1">
          <i class="%=icon-firstPage%"></i>
        </button>
        <button ng-if="!%=tableName%.localConfig.draggable" type="button"
                class="btn btn-default"
                ng-click="%=tableName%.loadPreviousPage()"
                ng-disabled="%=tableName%.items.paging.currentPage == 1">
          <i class="%=icon-previousPage%"></i>
        </button>
        <button ng-if="%=tableName%.localConfig.draggable" type="button"
                id="btnPrev"
                class="btn btn-default"
                ad-drop="true"
                ad-drop-over="%=tableName%.onNextPageButtonOver($data, $dragElement, $dropElement, $event)"
                ad-drop-end="%=tableName%.onNextPageButtonDrop($data, $dragElement, $dropElement, $event)"
                ng-click="%=tableName%.loadPreviousPage()"
                ng-disabled="%=tableName%.items.paging.currentPage == 1">
          <i class="%=icon-previousPage%"></i>
        </button>
        <button type="button"
                class="btn btn-default"
                ng-repeat="page in %=tableName%.localConfig.pagingArray"
                ng-class="{active: %=tableName%.items.paging.currentPage == page}"
                ng-click="%=tableName%.loadPage(page)">{{ page }}
        </button>
        <button ng-if="!%=tableName%.localConfig.draggable" type="button"
                class="btn btn-default"
                ng-click="%=tableName%.loadNextPage()"
                ng-disabled="%=tableName%.items.paging.currentPage == %=tableName%.items.paging.totalPages">
          <i class="%=icon-nextPage%"></i>
        </button>
        <button ng-if="%=tableName%.localConfig.draggable" type="button"
                id="btnNext"
                ad-drop="true"
                ad-drop-over="%=tableName%.onNextPageButtonOver($data, $dragElement, $dropElement, $event)"
                ad-drop-end="%=tableName%.onNextPageButtonDrop($data, $dragElement, $dropElement, $event)"
                class="btn btn-default"
                ng-click="%=tableName%.loadNextPage()"
                ng-disabled="%=tableName%.items.paging.currentPage == %=tableName%.items.paging.totalPages">
          <i class="%=icon-nextPage%"></i>
        </button>
        <button type="button"
                class="btn btn-default"
                ng-click="%=tableName%.loadLastPage()"
                ng-disabled="%=tableName%.items.paging.currentPage == %=tableName%.items.paging.totalPages">
          <i class="%=icon-lastPage%"></i>
        </button>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="%=paginationBtnGroupClasses% pull-right">
        <button type="button"
                class="btn btn-default"
                ng-repeat="size in %=tableName%.items.paging.pageSizes"
                ng-class="{active: %=tableName%.items.paging.pageSize == size}"
                ng-click="%=tableName%.pageSizeChanged(size)">
          {{ size }}
        </button>
      </div>
    </div>
  </div>
</div>
