# ========== bower packages ==========
bower_components/

# ========== node packages ==========
node_modules/

# ========== dist ==========
dist/

# ========== log files ==========
*.log

# ========== ide files ==========
.idea/

# ========== random files ==========
.DS_Store
app/.DS_Store
**/.DS_Store