<div class="row">
  <div class="col-md-8 col-sm-8">
    <div class="pull-left"
         ng-class="attrs.paginationBtnGroupClasses || 'btn-group btn-group-sm'"
         ng-show="items.paging.totalPages > 1">
      <button type="button"
              class="btn btn-default"
              ng-click="loadPage(1)"
              ng-disabled="items.paging.currentPage == 1">
        <i ng-class="iconClasses.firstPage"></i>
      </button>
      <button type="button"
              class="btn btn-default"
              ng-click="loadPreviousPage()"
              ng-disabled="items.paging.currentPage == 1">
        <i ng-class="iconClasses.previousPage"></i>
      </button>
      <button type="button"
              class="btn btn-default"
              ng-repeat="page in localConfig.pagingArray"
              ng-class="{active: items.paging.currentPage == page}"
              ng-click="loadPage(page)">{{ page }}
      </button>
      <button type="button"
              class="btn btn-default"
              ng-click="loadNextPage()"
              ng-disabled="items.paging.currentPage == items.paging.totalPages">
        <i ng-class="iconClasses.nextPage"></i>
      </button>
      <button type="button"
              class="btn btn-default"
              ng-click="loadLastPage()"
              ng-disabled="items.paging.currentPage == items.paging.totalPages">
        <i ng-class="iconClasses.lastPage"></i>
      </button>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="pull-right" ng-class="attrs.paginationBtnGroupClasses || 'btn-group btn-group-sm'">
      <button type="button"
              class="btn btn-default"
              ng-repeat="size in items.paging.pageSizes"
              ng-class="{active: items.paging.pageSize == size}"
              ng-click="pageSizeChanged(size)">{{ size }}
      </button>
    </div>
  </div>
</div>