<div class="ad-table-ajax-container">
  <table class="%=tableClasses% ad-sticky-table" ng-if="%=tableName%.localConfig.tableMaxHeight">
    <tr class="ad-user-select-none">
      <th data-ng-repeat="definition in %=columnDefinition%"
          ng-click="%=tableName%.sortByColumn(definition)"
          ng-class="{'ad-cursor-pointer': definition.sortKey}"
          ng-style="{'width': definition.width}">
        <div class="pull-right" ng-if="definition.sortKey && %=tableName%.localConfig.predicate == definition.sortKey">
          <i class="%=icon-sortAscending%" ng-hide="%=tableName%.localConfig.reverse"></i>
          <i class="%=icon-sortDescending%" ng-show="%=tableName%.localConfig.reverse"></i>
        </div>
        <div class="pull-right" ng-if="definition.sortKey && %=tableName%.localConfig.predicate != definition.sortKey">
          <i class="%=icon-sortable%"></i>
        </div>
        <div ng-if="definition.columnHeaderTemplate"
             ng-bind-html="definition.columnHeaderTemplate"></div>
        <div ng-if="definition.columnHeaderDisplayName"
             ng-bind="definition.columnHeaderDisplayName"></div>
      </th>
    </tr>
  </table>
  <div class="ad-table-container" ng-style="{'max-height': %=tableName%.localConfig.tableMaxHeight}">
    <table class="%=tableClasses%">
      <tr class="ad-user-select-none" ng-if="!%=tableName%.localConfig.tableMaxHeight">
        <th data-ng-repeat="definition in %=columnDefinition%"
            ng-click="%=tableName%.sortByColumn(definition)"
            ng-class="{'ad-cursor-pointer': definition.sortKey}"
            ng-style="{'width': definition.width}">
          <div class="pull-right"
               ng-if="definition.sortKey && %=tableName%.localConfig.predicate == definition.sortKey">
            <i class="%=icon-sortAscending%" ng-hide="%=tableName%.localConfig.reverse"></i>
            <i class="%=icon-sortDescending%" ng-show="%=tableName%.localConfig.reverse"></i>
          </div>
          <div class="pull-right"
               ng-if="definition.sortKey && %=tableName%.localConfig.predicate != definition.sortKey">
            <i class="%=icon-sortable%"></i>
          </div>
          <div ng-if="definition.columnHeaderTemplate"
               ng-bind-html="definition.columnHeaderTemplate"></div>
          <div ng-if="definition.columnHeaderDisplayName"
               ng-bind="definition.columnHeaderDisplayName"></div>
        </th>
      </tr>
      <tr data-ng-repeat="item in %=tableName%.items.list">
        <td data-ng-repeat="definition in %=columnDefinition%"
            ng-style="{'width': definition.width}">
          <div ng-if="definition.templateUrl">
            <ng-include src="definition.templateUrl"></ng-include>
          </div>
          <div ng-if="definition.template">
            <span ad-compile-template="definition.template"></span>
          </div>
          <div ng-if="!definition.templateUrl && !definition.template">
            {{ %=tableName%.applyFilter(%=tableName%.readProperty(item, definition.displayProperty, item),
            definition.cellFilter) }}
          </div>
        </td>
      </tr>
    </table>
    <ad-loading-overlay loading="%=tableName%.localConfig.loadingData"></ad-loading-overlay>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <div class="%=paginationBtnGroupClasses% pull-left"
           ng-show="%=tableName%.items.paging.totalPages > 1">
        <button type="button"
                class="btn btn-default"
                ng-click="%=tableName%.loadPage(1)"
                ng-disabled="%=tableName%.items.paging.currentPage == 1">
          <i class="%=icon-firstPage%"></i>
        </button>
        <button type="button"
                class="btn btn-default"
                ng-click="%=tableName%.loadPreviousPage()"
                ng-disabled="%=tableName%.items.paging.currentPage == 1">
          <i class="%=icon-previousPage%"></i>
        </button>
        <button type="button"
                class="btn btn-default"
                ng-repeat="page in %=tableName%.localConfig.pagingArray"
                ng-class="{active: %=tableName%.items.paging.currentPage == page}"
                ng-click="%=tableName%.loadPage(page)">{{ page }}
        </button>
        <button
          type="button"
          class="btn btn-default"
          ng-click="%=tableName%.loadNextPage()"
          ng-disabled="%=tableName%.items.paging.currentPage == %=tableName%.items.paging.totalPages">
          <i class="%=icon-nextPage%"></i>
        </button>
        <button
          type="button"
          class="btn btn-default"
          ng-click="%=tableName%.loadLastPage()"
          ng-disabled="%=tableName%.items.paging.currentPage == %=tableName%.items.paging.totalPages">
          <i class="%=icon-lastPage%"></i>
        </button>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="%=paginationBtnGroupClasses% pull-right">
        <button type="button"
                class="btn btn-default"
                ng-repeat="size in %=tableName%.items.paging.pageSizes"
                ng-class="{active: %=tableName%.items.paging.pageSize == size}"
                ng-click="%=tableName%.pageSizeChanged(size)">
          {{ size }}
        </button>
      </div>
    </div>
  </div>
</div>
