<div class="ad-table-ajax-container" ng-if="items.paging.totalPages || localConfig.loadingData || !attrs.itemsNotFoundMessage">
  <table class="ad-sticky-table" ng-class="attrs.tableClasses || 'table'" ng-if="localConfig.tableMaxHeight">
    <tr class="ad-user-select-none" ng-include="'tableajax/headerRowContent.html'"></tr>
  </table>
  <div class="ad-table-container" ng-style="{'max-height': localConfig.tableMaxHeight}">
    <table ng-class="attrs.tableClasses || 'table'">
      <tr class="ad-user-select-none" ng-if="!localConfig.tableMaxHeight" ng-include="'tableajax/headerRowContent.html'"></tr>
      <tr data-ng-repeat="item in items.list" ng-include="'tableajax/rowContent.html'"></tr>
    </table>
    <ad-loading-overlay loading="localConfig.loadingData"></ad-loading-overlay>
  </div>
  <ng-include src="'tableajax/pagination.html'"></ng-include>
</div>
<div ng-if="!items.paging.totalPages && !localConfig.loadingData && attrs.itemsNotFoundMessage">
  <div class="alert alert-info" role="alert">{{ attrs.itemsNotFoundMessage }}</div>
</div>
