body {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.welcome-header {
    padding: 30px;
    background: #2C3E50;
    color: white;
}

.welcome-header h1{
    margin-top: 0;
}
.welcome-header {
    margin-bottom: 0;
}

.welcome-header a {
    color: #fff;
    font-weight: normal;
}

.btn-outline-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #6C7A89;
    margin: 10px;
    margin-right: 0;
}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
    color: #2C3E50;
    text-shadow: none;
    background-color: #fff;
    border-color: #fff;
}

.code-navigator pre {
    border-right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: 1px solid #ddd;
    border-top: none;
    background: white;
}

.cursor-pointer {
    cursor: pointer;
}

.module-section {
    padding-top: 40px;
}

.component-options {
    font-size: 12px;
}

.component-options th {
    min-width: 130px;
}

pre {
    border: none;
    background: white;
}

.margin-right-lg {
    margin-right: 10px;
}

.name-cell {
    width: 100px;
    text-align: left;
}

.another-cell {
    margin-left: 10px;
    color: lightseagreen;
}