body {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.welcome-header {
    padding: 30px;
    background: #563d7c;
    color: white;
}

.welcome-header h1{
    margin-top: 0;
}
.welcome-header {
    margin-bottom: 0;
}

.welcome-header a {
    color: #fff;
    font-weight: normal;
}

.btn-outline-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #cdbfe3;
    margin: 10px;
}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
    color: #563d7c;
    text-shadow: none;
    background-color: #fff;
    border-color: #fff;
}

.code-navigator pre {
    border-right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: 1px solid #ddd;
    border-top: none;
    background: white;
}

.cursor-pointer {
    cursor: pointer;
}
